<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/form.css">
</head>
<body>
   
    <div class="sign-up">
        <h1>Sign In</h1>
        <form action="/login" method="post">
            <input type="text" class = "input-box" name="username" placeholder="Enter username"><br><br>
            <input type="password" class = "input-box" name="password" placeholder="Enter Password"><br><br>
            <button type="submit" name="submit" class="btn">Sign in</button> 
            <p> Don't have an account ?<a href="/signup">Sign up</a></p>
        </form>
    </div>
    
</body>
</html>